<% content_for :title do %>Talking Foxes : Home<% end %>
<div class="hero-unit">
  <h1>We're team <em>Talking Foxes</em>!</h1><br>
  <p>We're working on our senior project at California State University, Sacramento.</p>
  <p>More details about our project go here, but right now I don't know what to write. Blah, blah, blah. Something exciting, etc.</p><br>
  <p><a class="btn btn-primary btn-large" href="#">View presentation</a></p>
</div>
<div class="row" id="home_details">
  <div class="span6">
    <h2>Project goals</h2>
    <p>Project goals or something. I didn't actually read the requirements for the project website so I don't know what kind of stuff we're supposed to put here.</p>
    <p><a class="btn" href="#">More about this</a></p>
  </div>
  <div class="span6">
    <h2>Other information</h2>
    <p>Looks like we'll have to come up with stuff to put in these content areas. Maybe stuff about talking foxes and chunky bacon.</p>
    <p><a class="btn" href="#">More about this</a></p>
  </div>
</div>
<hr>
<div id="people">
  <div class="row">
    <div class="span6">
      <h2>Who are we?</h2>
    </div>
  </div>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="portrait">
        <h5>Josh Eilers is...</h5>
        <p>a guy whose name sounds like mathematician Leonhard Euler.</p>
        <a class="btn btn-small" href="#">View profile</a>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="portrait">
        <h5>Chris Libratore is...</h5>
        <p>a guy with a pretty neat hat and a rockin' sweater-vest.</p>
        <a class="btn btn-small" href="#">View profile</a>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="portrait">
        <h5>Mike Vollmer is...</h5>
        <p>a guy who likes Lisp and is making this website at midnight.</p>
        <a class="btn btn-small" href="#">View profile</a>
      </div>
      </li>
    <li class="span3">
      <div class="thumbnail">
        <img src="http://placehold.it/260x180" alt="portrait">
        <h5>Gabe Wonders is...</h5>
        <p>a guy who will show you the wonders of the world.</p>
        <a class="btn btn-small" href="#">View profile</a>
      </div>
    </li>
  </ul>
</div>


